/*
Theme Name: The Storefront WooCommerce Child
Description: Child theme for The Storefront WooCommerce - bookstore prototype
Author: Mwithalii
Version: 1.0
Template: wp-shop-woocommerce
Text Domain: the-storefront-woocommerce-child
*/
